*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #E5E5E5;
    font: 14px sans-serif;
    -webkit-font-smoothing: antialiased !important;
}